{{- if (or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")) -}}
{{- $profile := env "CHEZMOI_PROFILE" | default "home" -}}

{{- $chezmoiClaudeVersion := index . "claudeVersion" | default "" -}}
{{- $chezmoiClaudeHash := index . "claudeHash" | default "" -}}

{{- $cachedCopilotVersion := index . "copilotVersion" | default "" -}}
{{- $cachedCopilotHash := index . "copilotHash" | default "" -}}

{{- $cachedGeminiVersion := index . "geminiVersion" | default "" -}}
{{- $cachedGeminiHash := index . "geminiHash" | default "" -}}

{{- $cachedZedVersion := index . "zedVersion" | default "" -}}
{{- $cachedZedHash := index . "zedHash" | default "" -}}

#!/bin/sh
version=$(curl -fsSL "https://downloads.claude.ai/claude-code-releases/latest" | tr -d '[:space:]')
chezmoi_claude_version="{{ $chezmoiClaudeVersion }}"


if [ "$version" = "$chezmoi_claude_version" ]; then
    echo "Claude Code is up to date, using cached hash."
    hash="{{ $chezmoiClaudeHash }}"
else
    url=$(printf "https://downloads.claude.ai/claude-code-releases/%s/%s-%s/claude" "$version" "{{ .chezmoi.os }}" "{{ .chezmoi.arch }}")
    hash=$(nix hash convert --to sri --hash-algo sha256 $(nix-prefetch-url "$url" 2>/dev/null) | tr -d '[:space:]')
fi

copilot_version="{{- includeTemplate "copilot-version" . -}}"
if [ "$copilot_version" = "{{- $cachedCopilotVersion -}}" ]; then
    echo "GitHub Copilot is up to date, using cached hash."
    copilot_hash="{{- $cachedCopilotHash -}}"
else
    copilot_hash="{{- includeTemplate "copilot-hash" . -}}"
fi

gemini_version="{{- includeTemplate "gemini-version" . -}}"
if [ "$gemini_version" = "{{- $cachedGeminiVersion -}}" ]; then
    echo "Gemini is up to date, using cached hash."
    gemini_hash="{{- $cachedGeminiHash -}}"
else
    gemini_hash="{{- includeTemplate "gemini-hash" . -}}"
fi

zed_version="{{- includeTemplate "zed-version" . -}}"
if [ "$zed_version" = "{{- $cachedZedVersion -}}" ]; then
    echo "Zed is up to date, using cached hash."
    zed_hash="{{- $cachedZedHash -}}"
else
    zed_hash="{{- includeTemplate "zed-hash" . -}}"
fi

cat <<EOF > ~/.config/chezmoi/chezmoi.toml
[edit]
command = "nvim"
[data]
profile = "{{ $profile }}"
claudeVersion = "$version"
claudeHash = "$hash"
copilotVersion = "$copilot_version"
copilotHash = "$copilot_hash"
geminiVersion = "$gemini_version"
geminiHash = "$gemini_hash"
zedVersion = "$zed_version"
zedHash = "$zed_hash"
EOF
{{- end -}}

