{{- $core := .zed.settings.core -}}
{{- $agent := dict -}}
{{- if eq .profile "work" -}}
{{-   $agent = .zed.settings.work -}}
{{- else }}
{{-   $agent = .zed.settings.home -}}
{{- end }}
{{- $merged := merge $core $agent -}}

{{- $merged | toPrettyJson "  " -}}
