// Zed settings
//
// For information on how to configure Zed, see the Zed
// documentation: https://zed.dev/docs/configuring-zed
//
// To see all of Zed's default settings without changing your
// custom settings, run the `open default settings` command
// from the command palette or from `Zed` application menu.
{
    "vim_mode": true,
    "load_direnv": "shell_hook",
    "terminal": {
        "shell": "system"
    },
	"ui_font_size": 14,
	"buffer_font_size": 12,
	"buffer_font_family": "Moralerspace Neon HW",
	"buffer_font_features": {
		"calt": true,
		"ss01": true,
		"ss02": true,
		"ss03": true,
		"ss04": true,
		"ss05": true,
		"ss06": true,
		"ss07": true,
		"ss08": true,
		"ss09": true,
		"liga": true
	},
	"theme": {
		"mode": "system",
		"light": "Tokyo Night Storm",
		"dark": "Tokyo Night Storm"
	},
	"file_types": {
		"Plain Text": ["LICENSE"]
	},
	"icon_theme": "Material Icon Theme",
	"dap": {
		"CodeLLDB": {
			"binary": "./.bin/codelldb"
		}
	},
	"languages": {
		"Rust": {
			"language_servers": ["rust-analyzer"],
			"formatter": {
				"external": {
					"command": "rustfmt",
					"arguments": ["--emit", "stdout"]
				}
			},
			"format_on_save": "on"
		},
		"Python": {
			"code_actions_on_format": {
				"source.organizeImports.ruff": true,
				"source.fixAll.ruff": false
			},
			"language_servers": ["basedpyright", "ty", "ruff"],
			"format_on_save": "on"
		},
		"TypeScript": {
			"language_servers": ["vtsls", "biome"],
			"formatter": {
				"language_server": {
					"name": "biome"
				}
			},
			"format_on_save": "on",
			"code_actions_on_format": {
				"source.fixAll.biome": true,
				"source.organizeImports.biome": true
			}
		},
		"TSX": {
			"language_servers": ["vtsls", "biome"],
			"formatter": {
				"language_server": {
					"name": "biome"
				}
			},
			"format_on_save": "on",
			"code_actions_on_format": {
				"source.fixAll.biome": true,
				"source.organizeImports.biome": true
			}
		},
		"Markdown": {
			"format_on_save": "on",
			"formatter": "prettier"
		},
		"JSON": {
			"language_servers": ["json-language-server", "biome"],
			"format_on_save": "on",
			"formatter": {
				"language_server": {
					"name": "biome"
				}
			},
			"code_actions_on_format": {
				"source.fixAll.biome": true
			}
		},
		"JSONC": {
			"language_servers": ["json-language-server", "biome"],
			"format_on_save": "on",
			"formatter": {
				"language_server": {
					"name": "biome"
				}
			},
			"code_actions_on_format": {
				"source.fixAll.biome": true
			}
		},
        "Nix": {
            "language_servers": ["nil", "!nixd"]
        }

	},
	// LSP =======================================================================
	"lsp": {
		"rust-analyzer": {
			"initialization_options": {
				"check": {
					"command": "clippy"
				}
			}
		},
		"vtsls": {},
		"biome": {
			"binary": {
				"path": "biome",
				"arguments": ["lsp-proxy"]
			}
		},
		"basedpyright": {},
		"ruff": {},
		"ty": {
			"binary": {
				"path": "ty",
				"arguments": ["server"]
			}
		}
	},
	// Agents ====================================================================
    {{- if eq .profile  "work" }}
	"features": {
		"edit_prediction_provider": "none"
	},
    {{- else }}
	"agent_servers": {
		"gemini": {
			"command": "gemini",
			"args": ["serve", "--model", "gemini-3-flash-preview"]
		}
	},
	"features": {
		"edit_prediction_provider": "copilot"
	},
	"agent": {
		"default_model": {
			"provider": "copilot_chat",
			"model": "gpt-5"
		},
		"model_parameters": [],
		"commit_message_model": {
			"provider": "copilot_chat",
			"model": "gpt-5"
		}
	}
    {{- end }}
}
