{
  description = "Home Manager + nix-darwin configuration";

  nixConfig = {
    extra-substituters = [ "https://nix-community.cachix.org" ];
    extra-trusted-public-keys = ["nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs="];
  };

  inputs = {
    nixpkgs.url = "github:nixos/nixpkgs/nixpkgs-unstable";
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
    nix-darwin = {
      url = "github:nix-darwin/nix-darwin/master";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs =
    inputs@{ nixpkgs, home-manager, nix-darwin, ... }:
    let
      username = "{{ .chezmoi.username }}";
      hostname = "{{ .chezmoi.hostname }}";
      os = "{{ .chezmoi.os }}";
      arch = "{{ .chezmoi.arch }}";
      archMap = {
        "arm64" = "aarch64";
        "amd64" = "x86_64";
      };
      archName = archMap.${arch} or arch;
      system = "${archName}-${os}";
      isDarwin = os == "darwin";

      overlays = [
        (import ./overlays/direnv.nix)
        (import ./overlays/claude-code.nix)
        (import ./overlays/github-copilot-cli.nix)
        (import ./overlays/gemini-cli.nix)
        (import ./overlays/zed-editor.nix)
        (import ./overlays/mise.nix)
        (import ./overlays/antigravity.nix)
        (import ./overlays/ollama.nix)
      ];
    in
    if isDarwin then {
      darwinConfigurations.${hostname} = nix-darwin.lib.darwinSystem {
        inherit system;
        modules = [
          ({ ... }: {
            nixpkgs.overlays = overlays;
            nixpkgs.config.allowUnfree = true;
          })
          ./darwin/configuration.nix
          home-manager.darwinModules.home-manager
          {
            home-manager.useGlobalPkgs = true;
            home-manager.useUserPackages = true;
            home-manager.backupFileExtension = "hm-bak";
            home-manager.users.${username} = import ./home.nix;
          }
        ];
      };
    } else {
      homeConfigurations."${username}" = home-manager.lib.homeManagerConfiguration {
        pkgs = import nixpkgs {
          inherit system overlays;
          config.allowUnfree = true;
        };
        modules = [ ./home.nix ];
      };
    };
}
