{
  description = "Home Manager configuration";

  nixConfig = {
    extra-substituters = [ "https://nix-community.cachix.org" ];
    extra-trusted-public-keys = ["nix-community.cachix.org-1:mB9FSh9qf2dCimDSUo8Zy7bkq5CX+/rkCWyvRCYg3Fs="];
  };

  inputs = {
    # Specify the source of Home Manager and Nixpkgs.
    nixpkgs.url = "github:nixos/nixpkgs/nixpkgs-unstable";
    home-manager = {
      url = "github:nix-community/home-manager";
      inputs.nixpkgs.follows = "nixpkgs";
    };
  };

  outputs =
    { nixpkgs, home-manager, ... }:
    let
      username = "{{ .chezmoi.username }}";
      os = "{{ .chezmoi.os }}";
      arch = "{{ .chezmoi.arch }}";
      archMap = {
          "arm64" = "aarch64";
          "amd64" = "amd64";
        };
      archName = archMap.${arch} or arch;
      system = "${archName}-${os}";
      # pkgs = nixpkgs.legacyPackages.${system};
      pkgs = import nixpkgs {
        inherit system;
        overlays = [
          (import ./overlays/direnv.nix)
          (import ./overlays/claude-code.nix)
          (import ./overlays/github-copilot-cli.nix)
          (import ./overlays/gemini-cli.nix)
          (import ./overlays/zed-editor.nix)
        ];
      };
    in
    {
      homeConfigurations."${username}" = home-manager.lib.homeManagerConfiguration {
        inherit pkgs;

        # Specify your home configuration modules here, for example,
        # the path to your home.nix.
        modules = [ ./home.nix ];

      };
    };
}
