{ pkgs, ... }:

let
    vimPlug = pkgs.vimUtils.buildVimPlugin;
in
{
  home-manager.enable = true;
  zsh.enable = false;
  vim = {
    enable = true;
    extraConfig = ''
      source ~/.config/vim/vimrc
      set runtimepath+=~/.config/vim
      set runtimepath+=~/.config/vim/after
      '';
    plugins = [
      pkgs.vimPlugins.vim-commentary
      pkgs.vimPlugins.vim-surround
      pkgs.vimPlugins.vim-easymotion
      pkgs.vimPlugins.vim-floaterm
      pkgs.vimPlugins.vim-airline
      pkgs.vimPlugins.vim-airline-themes
      pkgs.vimPlugins.vim-devicons
      pkgs.vimPlugins.molokai
      pkgs.vimPlugins.vim-monokai
      pkgs.vimPlugins.gruvbox-material
      pkgs.vimPlugins.sonokai
      pkgs.vimPlugins.onedark-vim
      pkgs.vimPlugins.vim-vsnip
      pkgs.vimPlugins.vim-vsnip-integ
      pkgs.vimPlugins.vim-table-mode
      pkgs.vimPlugins.copilot-vim
      pkgs.vimPlugins.fzf-wrapper
      pkgs.vimPlugins.fzf-vim
      pkgs.vimPlugins.vim-polyglot
      pkgs.vimPlugins.vim-markdown-toc
      # Language --------------------------------------------------------------
      (vimPlug {
        pname = "lsp";
        version = "unstable";
        src = pkgs.fetchFromGitHub {
          owner = "yegappan";
          repo = "lsp";
          rev = "main";
          sha256 = "{{- includeTemplate `yegappan-lsp-hash` . -}}";
        };
      })
    ];
  };
  direnv = {
    enable = true;
    nix-direnv.enable = true;
  };
  yazi = {
    enable = true;
    plugins = {
      mime-ext = pkgs.yaziPlugins.mime-ext;
    };
  };
}
